.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header__logo {
  margin-top: 30px;
  max-width: 300px;
  height: 70px;
}

@media screen and (max-width: 768px) {
  .header
    width: 100%;
  }

  .header__logo {
    max-width: 254px;
    height: 66px;
  }

@media screen and (max-width: 320px){
    .header__logo
    max-width: 188px;
    margin-top: 20px;
  }