.places__content {
  max-width: 984px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "header artist"
    "image paragraph1"
    "image paragraph2"
    "button ."
    ". paragraph3";
  gap: 40px;
  margin-left: 151px;
  margin-right: 145px;
  margin-top: 80px;
}

.places__header {
  grid-area: header;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
}

.places__image {
  grid-area: image;
  max-width: 460px;
  max-height: 460px;
}

.places__image:hover {
  background-color: #000000;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.places__image-item {
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.places__button {
  grid-area: button;
  font-size: 18px;
  text-decoration: none;
  color: inherit;
  background: linear-gradient(to right, #0278fe, #003a7b);
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  max-width: 289px;
  max-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 13px;
}

.places__button:hover {
  background: linear-gradient(to right, #0056c4 25%, #002a5d);
}

.places__artist {
  grid-area: artist;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  height: 100%;
}

.places__artist-title {
  font-size: 12px;
  letter-spacing: 1.2px;
  color: rgba(170, 170, 170, 1);
}

.places__artist-editor,
.places__artist-project-manager {
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.places__paragraph1 {
  grid-area: paragraph1;
  font-size: 18px;
  line-height: 163%;
  text-align: left;
  width: 100%;
  max-width: 484px;
  margin: 0;
}

.places__paragraph2 {
  grid-area: paragraph2;
  font-size: 18px;
  line-height: 163%;
  text-align: left;
  width: 100%;
  max-width: 484px;
  height: 203px;
  margin: 0;
}

.places__paragraph3 {
  grid-area: paragraph3;
  font-size: 18px;
  line-height: 163%;
  text-align: left;
  width: 100%;
  max-width: 484px;
  margin: 0;
  grid-row: -3;
  grid-row-start: -3;
}

@media screen and (max-width: 768px) {
  .places__content {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header artist"
      "image paragraph1"
      "image paragraph2"
      "button paragraph2"
      "button paragraph3";
    gap: 28px;
    padding: 88px 24px 16px 24px;
    margin: auto;
  }

  .places__header {
    font-size: 42px;
    line-height: 45px;
    margin: 0;
  }

  .places__image {
    grid-area: image;
    max-width: 340px;
    max-height: 340px;
  }

  .places__button {
    padding: 0;
  }

  .places__paragraph1 {
    grid-area: paragraph1;
    font-size: 16px;
    line-height: 163%;
    text-align: left;
    width: 100%;
    max-width: 100%;
    margin: 0;
  }

  .places__paragraph2 {
    grid-area: paragraph2;
    font-size: 16px;
    line-height: 163%;
    text-align: left;
    width: 100%;
    max-width: 100%;
    margin: 0;
  }

  .places__paragraph3 {
    grid-area: paragraph3;
    font-size: 16px;
    line-height: 163%;
    text-align: left;
    width: 100%;
    max-width: 100%;
    margin-top: 25px;
  }
}

@media screen and (max-width: 320px) {
  .places__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 0.3fr) 50px;
    grid-gap: 30px 0;
    padding-top: 25px;
  }

  .places__header {
    font-size: 32px;
    line-height: 32px;
    margin: 0;
    grid-column: 1;
    grid-row: 1;
  }
  .places__image {
    max-width: 320px;
    max-height: 320px;
    grid-column: 1;
    grid-row: 3;
  }

  .places__artist {
    display: grid;
    grid-column: 1;
    grid-row: 2;
    justify-content: start;
  }

  .places__artist-title {
    grid-column: 1;
    grid-row: 3;
  }
  .places__artist-editor {
    grid-row: 4;
    grid-column: 1;
  }
  .places__artist-project-manager {
    grid-row: 5;
    grid-column: 1;
  }

  .places__paragraph1 {
    grid-row: 4;
    grid-column: 1;
  }

  .places__paragraph2 {
    grid-row: 5;
    grid-column: 1;
  }

  .places__paragraph3 {
    grid-row: 6;
    grid-column: 1;
    margin-top: 100px;
  }

  .places__button {
    grid-row: 8;
    grid-column: 1;
    font-size: 14px;
    max-width: 320px;
    max-height: 3rem;
  }
}
